In [12]:
import pandas as pd
import numpy as np

#load dataset
df=pd.read_csv("data.csv")
df.head(20)
x=df.iloc[:,:-1].values #iloc is used to split the data
y=df.iloc[:,3].values

#handling the missing values using scikit learn
from sklearn.preprocessing import Imputer
imputer=Imputer(missing_values='NaN',strategy='mean',axis=0)
imputer=imputer.fit(x[:,1:3])
x[:,1:3]=imputer.transform(x[:,1:3])
x

#handling categorical features
#categorical variables

df.head()

  Acquistion_Mode   Age   Income Subscribe
0          Direct  54.0  25000.0        No
1           Email  38.0  47995.0       Yes
2            Tele  37.0  54014.0       Yes
3           Email  52.0  61014.0        No
4            Tele  35.0      NaN       Yes

In [20]:
#Encoded categorical values

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x=LabelEncoder()
x[:,0]=labelencoder_x.fit_transform(x[:,0])
onehotencoder_x= OneHotEncoder(categorical_features=[0])
x=onehotencoder_x.fit_transform(x).toarray()
x

labelencoder_y=LabelEncoder()
y=labelencoder_y.fit_transform(y)
y

array([0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1], dtype=int64)

In [22]:
#splitting data into training and test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [23]:
df.head()

  Acquistion_Mode   Age   Income Subscribe
0          Direct  54.0  25000.0        No
1           Email  38.0  47995.0       Yes
2            Tele  37.0  54014.0       Yes
3           Email  52.0  61014.0        No
4            Tele  35.0      NaN       Yes

In [28]:
#feature scalling

from sklearn.preprocessing import StandardScaler
SS_x=StandardScaler()
x_train=SS_x.fit_transform(x_train)
x_test=SS_x.fit_transform(x_test)
x_train

#what we learn yet from this?

#independent and dependent variable
#handling missing values
#encode categorical variables
#split data into training and test
#feature scaler

array([[ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452, -0.25768236, -0.01789735],
       [-1.09544512,  1.09544512, -1.09544512,  1.09544512, -1.09544512,
        -0.61237244,  2.12132034, -1.57719374, -0.29838984],
       [ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452,  2.23472803,  1.46228007],
       [ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452,  0.03554239,  0.61706833],
       [-1.09544512,  1.09544512, -1.09544512,  1.09544512, -1.09544512,
         1.63299316, -0.47140452, -1.43058136, -0.72247533],
       [ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452, -0.40429473,  1.46298465],
       [-1.09544512,  1.09544512, -1.09544512,  1.09544512, -1.09544512,
        -0.61237244,  2.12132034,  0.03554239,  0.10034258],
       [-1.09544512,  1.09544512, -1.09544512,  1.09544512, -1.09544512,
         1.63299316, -0.47140452,  0.6219919 ,  0.19481474],
       [ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452,  0.91521665, -2.34265239],
       [ 0.91287093, -0.91287093,  0.91287093, -0.91287093,  0.91287093,
        -0.61237244, -0.47140452, -0.08663459, -0.01677002],
       [-1.09544512,  1.09544512, -1.09544512,  1.09544512, -1.09544512,
         1.63299316, -0.47140452, -0.08663459, -0.43930544]])