In [4]:
import pandas as pd
df= pd.read_excel('MLR.xlsx')
df.head()

   Direct  Online  Tele Region      Sales
0      13       2    14   East  68.337260
1      20      18     4   West  18.393210
2       3      19    16   East  60.817410
3      11      18     9   West  38.382220
4      15       5    16   East  42.685145

In [5]:
#independent variable

x=df.iloc[:,:-1].values

#dependent variable

y=df.iloc[:,4].values

In [6]:
print(x)

[[13 2 14 'East']
 [20 18 4 'West']
 [3 19 16 'East']
 [11 18 9 'West']
 [15 5 16 'East']
 [7 12 11 'West']
 [9 14 9 'East']
 [8 18 12 'West']
 [10 8 7 'East']
 [14 4 3 'West']
 [5 8 7 'East']
 [13 5 7 'West']
 [10 15 16 'East']
 [13 20 2 'West']
 [15 2 13 'East']]

In [12]:
#Encode Categorical Values

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder= LabelEncoder()
x[:,3]=labelencoder.fit_transform(x[:,3])
print(x[:,3])
onehotencoder= OneHotEncoder(categorical_features=[3])
x=onehotencoder.fit_transform(x).toarray()

print(x)
#Dummy Variable Trap
x=x[:,1:]

[0. 7. 8. 7. 2. 4. 5. 7. 3. 1. 3. 2. 6. 9. 0.]
[[ 1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0. 13. 14.]
 [ 0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1. 20.  4.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.  3. 16.]
 [ 0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1. 11.  9.]
 [ 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  0. 15. 16.]
 [ 0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  7. 11.]
 [ 0.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  9.  9.]
 [ 0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  8. 12.]
 [ 0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0. 10.  7.]
 [ 0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1. 14.  3.]
 [ 0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  5.  7.]
 [ 0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1. 13.  7.]
 [ 0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0. 10. 16.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1. 13.  2.]
 [ 1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0. 15. 13.]]

In [13]:
#split data into training and test

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [14]:
#fitting regression model
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(x_train,y_train)

#predicting values
y_pred=reg.predict(x_test)

print(y_test)
print(x_test)

[18.39321 30.00006 87.80662]
[[ 0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1. 20.  4.]
 [ 0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  9.  9.]
 [ 0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0. 10.  7.]]

In [15]:
print(df.columns.values)

['Direct' 'Online' 'Tele' 'Region' 'Sales']

In [16]:
#compare this using statsmodel using formulas

import statsmodels.formula.api as sm
model=sm.ols(formula='Sales ~ Direct+Online+Tele+Region',data=df)
fitted=model.fit()
print(fitted.rsquared,fitted.rsquared_adj)

0.39388133406105696 0.15143386768547984